.challenge-background {
    -fx-background-color: lightblue;
    -fx-background-size: cover;
}

.menuItem {
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: grey;
    -fx-font-family: 'Orbitron-Regular.ttf';
    -fx-font-weight: 600;
    -fx-font-size: 30px;
    -fx-text-fill: black;
}

.menuItem:hover {
    -fx-text-fill: yellow;
}

.menuItem.selected {
    -fx-text-fill: yellow;
}

.menuItemSmall {
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: grey;
    -fx-font-family: 'Orbitron-Regular.ttf';
    -fx-font-weight: 600;
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

.menuItemSmall:hover {
    -fx-text-fill: yellow;
}

.menuItemSmall.selected {
    -fx-text-fill: yellow;
}

.tickCounter {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: black;
}